
.todolist{
    background: #8697C4;
    margin: 1rem;
    color: white;
    border: 1px solid  #A1A3ABA1;
    padding: 1rem;
    border-radius: 10px;
   height: 100%;
   
}
.list{
   padding: .5rem;
}
.buttonlist{
    border: none;
    background:none;
}
.li{
    background: #EDE8F5;
    color: black;
    list-style: none;
    padding: 1rem;
    height: 100%;
    border: 2px solid none;
    border-radius: 10px;
    margin-bottom: .5rem;
}
.li:hover{

    border: 2px solid #3D52A0;
}
.li  p{
    color: dimgray;
}
.sub-list {
    color:#3D52A0;
    display: flex;
   justify-content: space-around;   
}
.sub-list li{
    list-style: none;
}
  
h6{
    text-decoration: underline red 1px;
}
.delete{
    border: 1px solid #8697C4 ;
    border-radius: 10px;
}