
*{
    margin: 0%;
}
.header{
    margin: 0;
    padding: 1rem;
    background:#ADBBDA;
    display: flex;
    justify-content: space-between;
    align-content: center;
    box-shadow: 0px 4px 12px 0px #00000012;
}
.left{
    display: flex;
    justify-content: space-evenly;
}
.b{
    border: none;  
    background: none;
    padding: .5rem;
    margin-left: 2rem !important;
}