.addtask {
    padding-top: 3rem;
    max-width: 100%;
    background-color: #000000;
    color: rgb(94, 35, 35);
}
.sub {
  background-color: #F9F9F9;
   margin: auto;
}
.headermodal{
   background: #EDE8F5;
}
.footermodal{
    background: #EDE8F5 !important;

}
.heading {
    display: flex;
    justify-content: space-between;
    text-decoration: underline solid red;
    text-decoration-thickness: 2px;
}
.form {
    background-color: #8697C4;
    margin-top: 1rem;
    padding-bottom: 0;
    padding: 1rem;
    border: #e0e1e669 solid 1px;
    border-radius: 10px;
}
.checkbox {
    display: flex;
    gap: 1rem;
}
.checkbox label {
    color: rgb(255, 255, 255);
}

input{
    padding: .5rem;
    margin-top: 0;
    margin-bottom: 1rem;
    width: 80%;
    border: solid 2px #80858fd7;
    border-radius: 10px !important;
    outline: none;

    
}
input[type=text]:focus {
    border: 3px solid #e65f5f;
    
}
input[type=radio]:focus{
    border: 3px solid #e65f5f;

}

.task {
    width: 100%;
    border: solid 2px #80858fd7;
    border-radius: 3px;
}

.date {
    width: 100%;
    border: solid 2px #80858fd7;
    border-radius: 3px;
}
.date[type=date]:focus{
     border: 3px solid #e65f5f;

}

#low{
    accent-color: green;
}
#moderate{

    accent-color: rgb(247, 103, 7);
}
#high{
    accent-color: red;

}
.taskdiscription {
    padding: .5rem;
    border: solid 2px #80858fd7;
    border-radius: 10px;
    height: 6rem;
    width: 100%;
    outline: none;
}
.taskdiscription:focus {
    border: solid 3px #e64e3ad7;
    height: 6rem;
    width: 100%;
}
.same{
    margin-bottom: 1rem;
    size: 5px;
}
#low{
    size: 2px;
    height: 1rem;
}
#high{
    size: 2px;
    height: 1rem;

}
#moderate{
    size: 2px;
    height: 1rem;

}

.but{
    background-color:#0b1533 !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    border:none;
}
.close{
    background-color: #b2cceb !important;
    color: red !important;
}
.add{
    background-color: #1c49c6 !important;
}
.body{
    background-color: #afb3bf;
}
.modal{
    border-radius: 10px;
}
